@media (max-width: 1200px){
    .promo{
        padding: 20px 0 49px 0;
    }
    .consultation{
        min-height: 652px;
    }
}
@media (max-width: 991px){

}
@media (max-width: 767px){
    .header{
        padding: 20px;
    }
    .promo__wrapper{
        align-items: center;
        margin-top: 45px;
    }
    .advantages__wrapper{
        margin-top: 40px;
        padding: 20px;
    }
    .advantages__item{
        max-width: 150px;
    }
    .advantages__subtitle{
        font-size: 13px;
    }
    .advantages__descr{
        font-size: 11px;
    }
    .title_left, .consultation__descr{
        text-align: center;
    }
    .feed-form{
        margin: 0 auto;
        margin-top: 36px;
    }

}
@media (max-width: 575px){
    .header__logo{
        img{
            width: 100%;
        }
    }
    .promo__header{
        font-size: 35px;
    }
    .promo__subheader{
        margin-top: -1px;
        font-size: 20px;
    }
    .header__phone{
        font-size: 17px;
    }
    .advantages__item{
        max-width: 150px;
    }
    .advantages__subtitle{
        font-size: 13px;
    }
    .advantages__descr{
        font-size: 11px;
    }
    .title_left{
        font-size: 30px;
    }
}